$font-header: 'Trebuchet MS';
$font-text: 'Helvetica';

$shadow-inset: inset 0 0 0px rgb(25, 25, 56);

$ui-blue: rgba( 0, 33, 94, 0.7 );
$ui-blue-header: rgba( 0, 0, 0, 0.4 );
$ui-blue-mid: rgba( 0, 0, 0, 0.1 );
$ui-blue-top: rgba( 0, 0, 0, 0.2 );